[Unit]
Description=RocDev Web Aplication

[Service]
Type=simple
Restart=always
EnvironmentFile=/home/{{ app_user }}/rocdev.conf
User={{ app_user }}
WorkingDirectory={{ web_dir }}
ExecStartPre=/usr/local/bin/pipenv run ./manage.py migrate
ExecStart=/usr/local/bin/pipenv run ./manage.py runserver

[Install]
WantedBy=multi-user.target
