{% extends 'rocdev/base.html' %}
{% load bootstrap4 %}
{% block title %}Home{% endblock %}
{% block main %}
<section class="logo">
  {% include 'rocdev/logo.html' with width="25%" %}
</section>
<section class="mission">
  <div class="col">
    <p>
      We are a community of professionals in disciplines related to software development in the Greater Rochester Area.
      We are Software and Quality Assurance Engineers, Product Managers and Entrepreneurs, and Students and Teachers looking to share our experiences and knowledge with one another in an effort to support and grow the community as a whole.
    </p>
  </div>
</section>
<section class="events">
  <h2>Upcoming Events</h2>
  <div class="row">
    <div class="col">
      {% if next_event %}
      <h4>
        Next: {{ next_event.name }}
        <a class="" rel="external" href="{{ next_event.link|safe }}" title="See this on Meetup.">&neArr;</a>
       </h4>
      <p>
        {{ next_event.description|safe }}
      </p>
      {% else %}
      <p>No upcoming events.</p>
      {% endif %}
      <p>
        We gather at least once per month to learn something from fellow members, hack on projects, or just hang out at a bar or arcade.
        Use the links below to see what else is happening and get notified when another event is scheduled.
      </p>
    </div>
    <div class="col">
      <div class="slack">
        <h2><i class="fa fa-slack" aria-hidden="true"></i> Slack</h2>
        <div class="slack-widget">
          <p class="slack-description">
            Everyday, we chat on Slack, helping each other with a baffling stack trace, talking about the latest tech news, and sharing career advice.
            We have channels for popular languages like JavaScript and Python as well as popular topics like cryptocurrencies and working remotely.
            Join us; we're friendly.
          </p>
        </div>
      <div class="slack-registration" style="margin-top: 48px;">
        {% if has_registered %}
          <p class="slack-description">
            <em>Thanks for registering. An invite is on its way to your inbox.</em>
          </p>
        {% else %}
          <p class="slack-description">
            Join the {{ num_members }} members of RocDev Slack. {{ num_active }} members are active right now.
          </p>
          <form action="{% url 'about_index' %}" method="post">
            {% csrf_token %}
            {{ chat_form.as_p }}
            <input type="submit" value="Submit" />
          </form>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
  <div class="event-links row">
    <div class="col">
      {% url 'events_index' as events_all_url %}
      {% bootstrap_button "See More Events" href=events_all_url button_class="btn-secondary btn-block" %}
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          {% url 'events_rss' as events_rss_url %}
          {% bootstrap_button "RSS" href=events_rss_url button_class="btn-secondary btn-block" %}
          </div>
          <div class="col">
            {% url 'events_atom' as events_atom_url %}
            {% bootstrap_button "Atom" href=events_atom_url button_class="btn-secondary btn-block" %}
          </div>
          <div class="col">
            {% url 'events_ics' as events_ical_url %}
            {% bootstrap_button "iCal" href=events_ical_url button_class="btn-secondary btn-block" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
