[defaults]
inventory = ./inventory
remote_user = rdadm
roles_path = ./roles
nocows = 1
retry_files_enabled = False
stdout_callback = debug
stderr_callback = debug
vault_password_file = ./.vault_password

[ssh_connection]
# ssh_args = -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey,keyboard-interactive -o ControlMaster=auto -o ControlPersist=60s
# pipelining = True
