[Unit]
Description=RocDev Aplication
Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
Restart=always
EnvironmentFile=/home/{{ app_user }}/rocdev.conf
User=rocdev
WorkingDirectory={{ app_dir }}
ExecStartPre=/usr/local/bin/mix ecto.migrate
ExecStart=/usr/local/bin/mix phx.server

[Install]
WantedBy=multi-user.target
