<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RocDev</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Raleway:100" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav role="navigation">
      <div class="container">
        <ul class="primary-nav main-nav-links">
          <li><a href="<%= page_path(@conn, :index) %>">Home</a></li>
          <li><a href="<%= page_path(@conn, :code_of_conduct) %>">Code of Conduct</a></li>
        </ul>
        <ul class="primary-nav social-nav-links">
          <li>
            <a href="<%= social_path(@conn, :index) %>" class="dropdown">Social</a>
            <ul class="secondary-nav">
              <li>
                <a href="<%= social_path(@conn, :meetup) %>">
                  <i class="fa fa-meetup" aria-hidden="true"></i>
                  Meetup
                </a>
              </li>
              <li>
                <a href="<%= social_path(@conn, :slack) %>">
                  <i class="fa fa-slack" aria-hidden="true"></i>
                  Slack
                </a>
              </li>
              <li>
                <a href="<%= social_path(@conn, :github) %>">
                  <i class="fa fa-github" aria-hidden="true"></i>
                  GitHub
                </a>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main class="container" role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <footer>
      <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>