<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RocDev</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Raleway:100" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"/>
    <link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" 
 href="<%= static_path(@conn, "/images/favicon.svg") %>"/>
  </head>

  <body>
    <nav role="navigation">
      <ul class="container">
        <li><a href="<%= page_path(@conn, :index) %>">Home</a></li>
        <li><a href="<%= page_path(@conn, :code_of_conduct) %>">Code of Conduct</a></li>
      </ul>
    </nav>

    <main class="container" role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
    </footer>
  </body>
</html>