Whatever.  See if we care.

<%= form_for @conn,  subscription_path(@conn, :delete), [as: :unsubscribe, method: :delete], fn f -> %>
  <%= email_input f, :email, value: @email, required: true %>
  <%= submit "Unsubscribe" %>
<% end %>
