<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="RocDev - a community for software professionals in Rochester, NY"/>

    <title>RocDev - {% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Raleway:100" rel="stylesheet"/>
    <link href="https://unpkg.com/normalize.css@8.0.1/normalize.css" rel="stylesheet"/>
    {% load static %}
    <link href="{% static 'rocdev/css/app.css' %}" rel="stylesheet"/>
    <link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" href="/images/favicon-6b53e5c1b6f7c2f7874265f448df8f25.svg?vsn=d"/>
  </head>

  <body>
    <nav role="navigation">
      <div class="nav-container">
        <a class="nav-brand" href="{% url 'about_index' %}">
          {% include 'rocdev/logo.html' with width='4em' %}
        </a>
        <div class="nav-links">
          <ul>
            <li><a href="{% url 'about_index' %}">Home</a></li>
            <li><a href="{% url 'about_coc' %}">Code of Conduct</a></li>
            <li><a href="{% url 'events_index' %}">Events</a></li>
            <li><a href="https://patreon.com/geowa4" rel="external">Donate</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container" role="main">
      {% comment %} {% bootstrap_messages %} {% endcomment %}
      {% block main %}{% endblock %}
    </main>
    <footer>
      <div class="container row">
        <p class="col">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
        <p class="col">
          Coordinating events, moderating slack, and operating our platforms takes time and money.
          Please, consider supporting us through this
          <a rel="external" href="https://patreon.com/geowa4">Patreon</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
