<!DOCTYPE html>
<html lang="en">
  {% load bootstrap4 %}
  {% load fontawesome_5 %}
  {% load static %}
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="RocDev - a community for software professionals in Rochester, NY"/>
    <title>RocDev - {% block title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Crimson+Text"
      rel="stylesheet"
    />
    {% bootstrap_css %}
    {% fontawesome_5_static %}

    <link type="application/atom+xml" rel="alternate" href="{% url 'events_atom' %}"/>
    <link rel="stylesheet" href="{% static '/rocdev/css/app.css' %}">
  </head>
  <body class="">
    <!-- Header Nav -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'about_index' %}">
            {% include 'rocdev/logo.html' with width='4em' %}
          </a>
        
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about_index' %}">
                <span>{% fa5_icon 'home' 'fas' %}</span>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about_coc' %}">
                <span>{% fa5_icon 'handshake' 'fas' %}</span>
                Code of Conduct
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events_index' %}">
                <span>{% fa5_icon 'calendar-plus' 'fas' %}</span>
                Events
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://patreon.com/geowa4" rel="external">
                <span>{% fa5_icon 'donate' 'fas' %}</span>
                Donate
              </a>
            </li>
          </ul>
          </div>
        </div>
      </nav>

    <!-- Content -->
    <main class="container flex-grow-1 mt-4">
      {% bootstrap_messages %}
      {% block main %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer class="navbar bg-light border-top mt-4">
        <div class="container mt-2">
          <div class="row">
            <p class="col-sm-12 col-md-6">
              Coordinating events, moderating slack, and operating our platforms takes time and money.
              Please, consider supporting us through this
              <a rel="external" href="https://patreon.com/geowa4">Patreon</a>.
            </p>
          {% comment %} </div>
          <div class="row"> {% endcomment %}
            <p class="col">
              This work is licensed under a
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
                >Creative Commons Attribution 4.0 International License</a
              >.
            </p>
          </div>
        </div>
    </footer>
    {% bootstrap_javascript jquery='slim' %}
  </body>
</html>
