:root {
  --primary: rgb(117, 117, 117);
  --header: rgb(33, 33, 33);
  --accent: rgb(255, 0, 0);
  --fill-primary-color: rgb(248, 248, 248);
  --fill-text-color: rgb(94, 94, 94);
  --fill-accent-color: rgb(231, 231, 231);
  --width: 600px;
  --column-gap: 2em;
}

html, body {
  height: 100%;
}

body {
  color: var(--primary);
  font-family: 'Crimson Text', serif;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: var(--header);
}

nav {
  background-color: var(--fill-primary-color);
  border-top: 5px solid var(--accent);
  border-bottom: 1px solid var(--fill-accent-color);
  font-size: larger;
  font-variant: small-caps;
}

nav ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
}

nav a {
  color: inherit;
  display: inline-block;
  padding: 0.67em 0;
}

nav a:hover {
  color: var(--accent);
  transition: color 0.25s ease;
}

main {
  flex: 1 0 auto;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--accent);
}

p, ul {
  text-align: justify;
}

footer {
  background-color: var(--fill-primary-color);
  border-top: 1px solid var(--fill-accent-color);
  border-bottom: 5px solid var(--accent);
  font-size: smaller;
}

footer > p {
  margin: 1em 0;
  text-align: center;
}

.alert:empty { display: none; }

.alert {
  font-size: larger;
  text-align: center;
  padding: 1em;
}

.alert.alert-info {
  background: rgb(231, 255, 231);
  border: 1px solid rgb(214, 255, 214);
}

.alert.alert-danger {
  background: rgb(255, 231, 231);
  border: 1px solid rgb(255, 214, 214);
}

.container {
  width: var(--width);
  margin: auto;
}

h1.home_heading {
  font-size: 5em;
  font-family: inherit;
  font-weight: lighter;
  margin-bottom: 0.4em;
}

h2 > .fa {
  font-size: 1.4em;
}
