@media (max-width: 650px) {
  .container {
    width: calc(100% - 40px);
    padding-right: 20px;
    padding-left: 20px;
  }

  .social {
    grid-template-columns: 1fr;
  }

  .social .slack {
    grid-column: span 1;
  }

  .slack-widget {
    grid-template-columns: 1fr;
  }
}